<!DOCTYPE html>
<html>
<head>
	<title>Add a new post</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div class="new">
		<div class="co">
			<form method="post" action="/posts">
	<input type="text" placeholder="enter username" name="username"> <br><br>
	<input type="link" placeholder="Enter Image link..."><br><br>
	<textarea rows="10" cols="35" placeholder="Write the caption..." name="content"></textarea> <br>
	<button>Submit Post</button>
</form>
		</div>
	</div>

</body>
</html>