<!DOCTYPE html>
<html>
<head>
	<title>Show in details</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h2 style="text-align: center;">Here is your post in details</h2>
<p style="text-align: center;">Post id:<%=post.id%></p>
<div class="post">
	<h3 class="user">@<%=post.username%></h3>
	 <img src="<%=post.image%>"><br>
	<h4><%=post.content%></h4>
	<br>

</div>
</body>
</html>